html {
  scroll-behavior: smooth;
  transition-duration: 10s;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
  list-style: none;
}


.main-board {
  border: 15px solid black;
  box-shadow: 5px 5px gray;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  font-family: 'Damion', cursive;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.btn-move {
  width: 200px
}

.form-check-input,
.form-check-label {
  font-family: 'Damion', cursive;
  font-size: 30px;
  height: 40px
}

.menu-click {
  cursor: pointer;
  color: blue;
}

.nav-item {
  padding: 2px;
}

.nav-item:hover {
  color: black;
}

.home-page {
  background-image: url("./images/1.jpg");
  height: 100vh;
}